<div class="container d-flex align-items-center justify-content-center" style="height: 100vh">
<form [formGroup]="registerUserForm" class="border p-5">
    <h2>Registro</h2>
    <div class="form-row mt-3">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Nombre">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Apellido</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Apellido">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail">Correo</label>
      <input type="text" class="form-control" formControlName="email" id="inputEmail" placeholder="Correo">
    </div>
    <div class="form-group">
      <label for="inputPassword">Contraseña Nueva</label>
      <input type="password" class="form-control" id="inputPassword" formControlName="password" placeholder="Contraseña Nueva">
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCity">Fecha Nacimiento</label>
        <select id="inputState" class="form-control">
            <option selected>Dia...</option>
            <option>...</option>
          </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">&nbsp;</label>
        <select id="inputState" class="form-control">
          <option selected>Mes...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">&nbsp;</label>
        <select id="inputState" class="form-control">
            <option selected>Año...</option>
            <option>...</option>
          </select>
      </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
           <label for="inputCity">Sexo</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Mujer
                </label>
            </div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputCity">&nbsp;</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Hombre
            </label>
        </div>
        </div>
      </div>
    <div class="d-flex align-items-center justify-content-center">
    <button type="submit" class="btn btn-success" (click)="register()">Registrar</button>
    </div>
  </form>
  </div>